<% layout('layouts/boilerplate') %> 
    

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3 mb-3">
            <div class="card shadow">
                <div class="card-body">
         
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form"  enctype="multipart/form-data">
          <div class="mb-3">
              <label class="form-label" for="title">Title</label>
              <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>"required>
                    
                    <div class="valid-feedback">
                         Looks good!
                     </div>
          </div>
  
          <div class="mb-3">
              <label class="form-label" for="location">Location</label>
              <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %> "required>
    
                     <div class="valid-feedback">
                    Looks good!
                     </div>
          </div>
  
          <div class="mb-3">
              <label class="form-label" for="image">Add More Images</label>
             <input type="file" class="form-control" name="image" id="image" multiple>
             <p class="text-primary">Hold Ctrl/Command to select multiple images</p>
          </div>
          
        <div class="mb-3">
      <div class="mb-3">
          <label class="form-label" for="price">Campground Price</label>
          <div class="input-group">
              <span class="input-group-text" id="price-label">$</span>
              <input type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" value="<%= campground.price %> "required>
    
                 <div class="valid-feedback">
                Looks good!
                </div>
            </div>
      </div>
          <div class="mb-3">
              <label class="form-label" for="description">Description</label>
              <textarea class="form-control" type="text" id="description" name="campground[description]" required><%= campground.description %> </textarea>
    
                <div class="valid-feedback">
                 Looks good!
                </div>
          </div>
          <div class="mb-3">
            <%campground.images.forEach((img,i)=> {%>
                <img src="<%=img.thumbnail%>" class="img-thumbnail"  alt="no img found" crossorigin>
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">Delete</label>
               <% }) %> 
          </div>
          <div class="mb-3">
          <button class="btn btn-info text-white">Update Campground</button>
      </div>
      </form>
      <a href="/campgrounds/<%=campground._id%>">Back to Campground</a>
    </div>
</div>    
    </div>
   
      </div>