<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center mb-5">New Campground</h1>
  <div class="col-md-6 offset-md-3 mb-3">
    <div class="card shadow">
      <div class="card-body">
        <form
          action="/campgrounds"
          method="POST"
          novalidate
          class="validated-form"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input
              class="form-control"
              type="text"
              id="title"
              name="campground[title]"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input
              class="form-control"
              type="text"
              id="location"
              name="campground[location]"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>

          <!-- <div class="mb-3">
            <label class="form-label" for="image">Image URL</label>
            <input class="form-control" type="text" id="image" name="campground[image]" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div> -->
          <div class="mb-3">
            <label class="form-label" for="price">Campground Price</label>
            <div class="input-group">
              <span class="input-group-text" id="price-label">$</span>
              <input
                type="text"
                class="form-control"
                placeholder="0.00"
                aria-label="price"
                aria-describedby="price-label"
                name="campground[price]"
                required
              />

              <div class="valid-feedback">Looks good!</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea
              class="form-control"
              type="text"
              id="description"
              name="campground[description]"
              required
            ></textarea>

            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="input-group mb-3">
            <input
              type="file"
              class="form-control"
              id="images"
              name="image"
              multiple
            />
            <label class="input-group-text" for="images">Upload</label>
          </div>
          <div class="mb-3">
            <button class="btn btn-success">Add Campground</button>
          </div>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
      </div>
    </div>
  </div>
</div>
