body{
    overflow-x: hidden;
}

#cluster-map{
  
    width: 100vw;
    height: 500px;
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.mapboxgl-ctrl-bottom-right{
    bottom: 0;
    right: 1rem;
} 
.mapboxgl-popup-tip{
    cursor: pointer;
}

#map{
    width: 100%;
    height: 300px;
}

.banner{
   margin-top: 450px; 
}