body{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container{
    max-width:60vw ;

}
.nav-link{
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom:0.25rem solid transparent;
    transition: 0.5s;
   
}

.nav-link:hover{
    border-bottom-color: rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.5);
}
.nav-link.active{
    color: #fff;
    border-bottom-color:#fff;
}
.btn-secondary,.btn-secondary:hover{
    color: #333;
    text-shadow: none;
    font-weight: 700;
    padding: 10px 30px;
}